//HELPER CLASSES
//----------------------------

.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
.text-justify{
	text-align: justify;
}
.text-overflow {
	overflow: hidden;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
}

// lead paragraph
.lead {
    font-size: 130%;
}

/**
* Align classes.
*/

.align-right,
.align-content-right {
	text-align: right !important;
}

.align-left,
.align-content-left {
	text-align: left !important;
}

.align-center,
.align-content-center {
	text-align: center !important;
}


/**
* Visibility classes.
*/
.hide {
	display: none !important;
}

.vis-hide {
	visibility: hidden;
	height: 0;
	overflow-y: hidden;
}

.vis-show {
	visibility: visible;
    height: auto;
}



/**
* ZOOM-IN CURSOR.
*/
@mixin zoomInCursor($cursorUrl: '') {
	cursor: url('#{$cursorUrl}'),pointer;
	cursor: -moz-zoom-in; 
	cursor: -webkit-zoom-in; 
	cursor: zoom-in;
}



/**
* OPACITY CLASSES
*/
.alfa-100 {
	opacity: 1;
}

.alfa-50 {
	opacity: .5;
}


/**
* DEMO STYLES
*/
.style-switcher {
	background: #f6f6f6;
    position: absolute;
    top: 35px;
    width: 350px;
    right: -350px;
    transition: all .5s ease-out;
    padding: 1.2em 2em;
    z-index: 500;

    &.active {
    	right: 0;

    	.style-toggle .fa {
    		color: $link-color;
		}
    }

	.style-toggle {
	    position: absolute;
	    padding: .7em .9em .7em .7em;
	    font-size: 1.5em;
	    left: -64px;
	    top: 0;
	    background: #f6f6f6;
	    text-align: center;

	    .fa {
	    	font-size: inherit;
	    }
	}

	.style-content {
		> .pure-button {
			margin-bottom: 3em;

			&.active + .pure-button {
				display: inline-block;
			} 
		}
		> .pure-button + .pure-button {
			display: none;
		}

		table {
			// margin-bottom: 30px;
			font-size: 80%;

			th {
				background: #E2E2E2;
				padding-left: 6px;
				border-bottom: 0;
			}

			a {
				color: $link-color;
				padding: 0.2em .5em;
				white-space: nowrap;
			}

			td:first-child,
			td.first-child {
				a {
					text-decoration: underline;
				}
			}

			// td:last-child,
			// td.last-child {
			// 	a {
			// 		color: $link-color;
			// 		text-decoration: none;
			// 		border: 1px solid $link-color;

			// 		&.active {
			// 			background: $link-color;
			// 			color: #fff;
			// 			text-decoration: none;
			// 		}
			// 	}
			// }

			small{
				display: block;
				padding: 6px;

			    line-height: 1.3;
				font-family: sans-serif;
				//font-size: 12px;
			}
		}
	}
}